<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container-fluid">

      <div class="row">
          <div class="col-md-12 form">
            <form class="form-inline" id="newAlbumForm">
              <fieldset>
                <legend>Add a new Album to my collection!</legend>
                <label for="name" class="form-control-label">Album</label>
                <input type="text" name="name" placeholder="input" class="form-control">
                <label for="artist" class="form-control-label">Artist</label>
                <input type="text" name="artist" placeholder="input" class="form-control">
                <label for="album_art" class="form-control-label">Album Art</label>
                <input type="text" name="album_art" placeholder="Paste image link here" class="form-control">
                <!-- <label for"genre" class="form-control-label">Genre</label>
                <select id="genre">
                  <option value="electronic">Electronic</option>
                  <option value="rock">Rock</option>
                  <option value="jazz">Jazz</option>
                </select> -->
                <button type="submit" class="postBtn btn btn-primary">Post</button>
              </fieldset>
              <p id="errorTarget"></p>
            </form>
          </div>
      </div>
      <div class="row">
        <div class="jumbotron">
          <h1 class="text-center">Albums App</h1>
        </div>
      </div>
      <div class="row">
        <div id="target" class="col-md-12">
          <div class="row">
            <h2>My Favorite Albums</h2>
            <script id="albums-template" type="text/x-handlebars-template">
              {{#each albums}}
              <div class="col-md-4 col-sm-9 album_entry">
                <img src="{{album_art}}" class="album_art">
                <span>{{name}}</span>
                <p>by {{artist}}</p>
                <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
              </div>
              {{/each}}
            </script>
          </div>
        </div>
      </div>
      <h4><a href="/api">Read My API Documentation</a></h4>
    </div>
  </body>
</html>
